@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:ital,wght@0,300;0,400;1,200&family=Roboto:ital,wght@0,700;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:ital,wght@0,300;0,400;1,200&family=Roboto:ital,wght@0,700;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:ital,wght@0,300;0,400;1,200&family=Roboto:ital,wght@0,700;1,100;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
   
}
body{
  
    color: white;
    height: 100vh;
   width: 100%;
  

}
.bodyyyds{
    background: linear-gradient(to bottom,rgb(30, 1, 91),rgb(0, 0, 0));
}
    
.blogs{
    font-family: inter;
    width: 100%;
    height: 15vh;
    background-color: rgb(30, 1, 91);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 30px;
}
hr{
    margin-bottom: 20px;
   
}
.sasa{
    font-size: 0.9em;
    color: rgb(252, 252, 252);
    text-align: center  ;
}
.asjsajk{
    font-size: 3.2em;
}
.bodyyyds{
    padding: 0px 60px;
    
}

.Makad{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: Poppins;
}
@media only screen and  (max-width: 700px)
{
    .Makad{
        font-size: 15px;
    }
}
.afdafaf{
    height: 10vh;
    margin-bottom: 20px;
}